body {
    background-color: #F7ECDE;
}


.card-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rps-card {
    width: 150px;
    height: 150px;
    margin: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    border:  24px solid #FFFFFF;
}

.computer-card {
    width: 120px;
    height: 120px;
    margin: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border:  24px solid #FFFFFF;
    font-size: 18px;
}
.computer-card image {
    width: 120px;
    height: 120px;
}
