body {
    background-color: #F7ECDE;
}


.card-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rps-card {
    width: 150px;
    height: 150px;
    margin: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    /* border:  24px solid #FFFFFF; */
}

.computer-card {
    width: 150px;
    height: 150px;
    margin: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    /* border:  24px solid #FFFFFF; */
    font-size: 18px;
}
.computer-card.active {
  border: 24px solid blue;
  border-radius: 12px;
}

.rps-card:hover {
  border: 24px solid red;
  border-radius: 12px;
}

.computer-card img {
    width: 135px;
    height: 135px;
    border-radius: 12px;
}
.rps-card img {
    width: 140px;
    height: 140px;
    border-radius: 12px;
}


#rps-alert {
  background-color: #ee34ee;
  width: 600px;
}
